@import url("https://fonts.googleapis.com/css?family=Open+Sans|IBM+Plex+Mono|IBM+Plex+Serif:400,400i,600i");
::-moz-selection {
  color: black;
  background: #fcc72e; }

::selection {
  color: black;
  background: #fcc72e; }

body,
p {
  font-family: "Open Sans";
  font-weight: 300;
  color: #575757; }

h1 {
  font-family: "IBM Plex Serif";
  font-size: 4.5em;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 10px;
  color: #ccd6db; }

h2 {
  font-family: "IBM Plex Serif";
  font-size: 1.3em;
  font-weight: lighter;
  margin-top: 0; }
  h2 span {
    background: #66d0d5;
    font-family: "IBM Plex Serif";
    letter-spacing: normal;
    font-weight: normal;
    color: white;
    padding: 5px 12px; }

h3 {
  font-family: "IBM Plex Mono";
  font-size: 1.3em;
  font-weight: lighter; }

a {
  color: #575757;
  text-decoration: none;
  border-bottom: 1px solid; }
  a:hover {
    color: white;
    background: #575757; }

br {
  content: "";
  margin: 0.6em 0;
  display: block; }

body {
  margin: 0; }

body {
  background-color: white;
  overflow-y: auto; }

html #about {
  animation: fadeIn 1s ease-in-out forwards; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.line {
  margin-left: 3em; }
  .line::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: #fcc72e;
    transform: translate(-3em, 0.5em); }

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 0 12vw;
  z-index: 9; }
  .nav ul {
    font-family: "IBM Plex Mono";
    font-size: 10pt;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    width: max-content;
    margin-top: 2em;
    -webkit-margin-before: 2em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px; }
  .nav li a {
    color: rgba(145, 145, 145, 0.6);
    text-decoration: none;
    transition: color 0.3s;
    border: none; }
    .nav li a:hover {
      background: none;
      color: #f9686a; }
  .nav li + li {
    margin-left: 32px; }
  .nav.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0; }

@media screen and (max-width: 548px) {
  .nav {
    padding: 0 14px;
    justify-content: center; } }

@media screen and (max-width: 472px) {
  .nav ul {
    font-size: 0.7em; }
    .nav ul li + li {
      margin-left: 18px; } }

svg {
  max-width: 360px; }
  svg .cls-1 {
    fill: #ccd6db; }
  svg .cls-1,
  svg .cls-2 {
    font-size: 120px;
    font-family: "IBM Plex Serif";
    font-style: italic;
    font-weight: 600; }
  svg .cls-3 {
    fill: #66d0d5;
    width: 36px;
    height: 154px;
    rx: 18px;
    ry: 18px;
    animation: bob-mid 1s ease-in-out infinite; }
  svg .cls-3:nth-child(3n + 0) {
    animation-name: bob-low; }
  svg .cls-3:nth-child(4n + 2) {
    animation-delay: -0.4s; }
  svg .cls-3:nth-child(6n - 1) {
    animation-delay: -0.6s; }
  svg .cls-3:nth-child(5n + 1) {
    animation-name: bob-high; }
  svg .cls-3:nth-child(3n + 4) {
    animation-duration: 0.8s; }

@keyframes bob-mid {
  from {
    transform: translateY(0); }
  50% {
    transform: translateY(70px); }
  to {
    transform: translateY(0); } }

@keyframes bob-high {
  from {
    transform: translateY(-10px); }
  50% {
    transform: translateY(50px); }
  to {
    transform: translateY(-10px); } }

@keyframes bob-low {
  from {
    transform: translateY(0); }
  50% {
    transform: translateY(50px); }
  to {
    transform: translateY(0); } }

.section {
  position: relative;
  padding: 0 12vw;
  margin-bottom: 10vh; }

footer {
  display: flex;
  width: 76vw;
  justify-content: space-between;
  height: 60px;
  color: #919191;
  font-family: "IBM Plex Mono";
  font-size: 0.8em;
  padding: 0 12vw; }
  footer a {
    height: fit-content;
    padding-bottom: 2px;
    cursor: pointer; }

#about.section {
  padding-bottom: 70px;
  margin-bottom: 0; }

#about h1 {
  font-weight: 600;
  margin-bottom: 0;
  color: #f9686a; }

#about h2 {
  font-family: "IBM Plex Serif";
  font-size: 1.5em;
  font-weight: lighter;
  margin-top: 0;
  color: #575757;
  background: none;
  padding: 0; }

#about h3 {
  font-size: 10pt; }

#about .content {
  padding: 12vh 0 0;
  max-width: 750px; }

#about .about_me {
  margin-top: 2em;
  max-width: 600px; }

#about .grid {
  margin-top: 2.5em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 60px; }
  #about .grid .part {
    border-top: 2px #575757 solid; }

#about ul {
  padding-left: 1.5em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 1.5em; }

#about li + li {
  margin-top: 3px; }

@keyframes bob {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(0.5em); }
  100% {
    transform: translateY(0); } }

@media screen and (max-width: 800px) {
  #about h1 {
    font-size: 4em; }
  #about h2 {
    font-size: 1.3em; } }

@media screen and (max-width: 472px) {
  #about h1 {
    font-size: 2.4em; }
  #about h2 {
    font-size: 1.2em; }
  #about .wrapper {
    padding: 0; }
  #about .grid {
    grid-template-columns: 1fr; } }

#projects {
  position: relative;
  padding-top: 60px; }
  #projects .header {
    position: relative;
    margin-bottom: 3em; }
  #projects .filters {
    margin-bottom: 0.6em; }
    #projects .filters button {
      border: none;
      padding: 0 20px 5px 0;
      outline: none !important;
      font-family: "IBM Plex Mono";
      font-size: 12px;
      color: #919191;
      background: none;
      cursor: pointer;
      transition: border 0.2s; }
      #projects .filters button:hover {
        color: #575757; }
      #projects .filters button.selected {
        color: #f9686a; }
      #projects .filters button button + button {
        margin-left: 10px; }

#descript {
  max-width: 600px;
  margin-bottom: 27px; }

#gallery .project {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-gap: 32px;
  margin: 0;
  margin-bottom: 24px;
  display: none;
  opacity: 0;
  transition: opacity 0.2s, display 0.2s 0.2s; }
  #gallery .project .preview {
    width: 100%;
    min-height: 160px;
    background-size: cover;
    background-position: center;
    display: block;
    transition: filter 0.2s; }
  #gallery .project a.preview {
    cursor: pointer; }
  #gallery .project .details {
    border-top: none; }
  #gallery .project .name {
    font-family: "IBM Plex Serif";
    font-size: 1.3em; }
  #gallery .project .date {
    font-size: 11px;
    font-family: "IBM Plex Mono"; }
  #gallery .project .about {
    margin: 1em 0;
    max-width: 600px; }
  #gallery .project .meta {
    margin-bottom: 2px; }
    #gallery .project .meta .tag {
      display: inline;
      width: fit-content;
      font-size: 11px;
      font-family: "IBM Plex Mono";
      margin-right: 8px;
      opacity: 0.9; }
  #gallery .project .links {
    margin-top: 4px;
    display: flex; }
    #gallery .project .links a {
      font-size: 12px;
      margin-right: 8px; }

#gallery.all .project {
  display: grid;
  opacity: 1; }

#gallery.design .project.design {
  display: grid;
  opacity: 1; }

#gallery.writing .project.writing {
  display: grid;
  opacity: 1; }

#gallery.software .project.software {
  display: grid;
  opacity: 1; }

#gallery.art .project.art {
  display: grid;
  opacity: 1; }

@media screen and (max-width: 680px) {
  #gallery .project {
    grid-template-columns: 1fr;
    grid-gap: 10px; }
    #gallery .project .details {
      margin-bottom: 20px; } }

#gallery {
  position: relative; }
  #gallery .content {
    position: absolute;
    left: 55vw;
    top: 30vh; }
    #gallery .content h2, #gallery .content p, #gallery .content a {
      color: white; }
  #gallery .frame {
    position: absolute;
    top: calc(50vh - (500px / 2));
    right: calc(75vw - (500px / 2));
    min-width: 500px;
    width: 30vw;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px; }
    #gallery .frame .art {
      max-width: calc(500px / 3);
      max-height: calc(500px / 3);
      background-size: cover !important; }

#classes {
  padding-top: 40px; }
  #classes h2,
  #classes h3,
  #classes li,
  #classes a {
    color: #919191; }
  #classes h2 {
    color: #ccd6db;
    font-family: "IBM Plex Serif";
    letter-spacing: normal;
    font-size: 120px;
    margin-bottom: 30px;
    font-weight: 600; }
  #classes .semester {
    display: flex; }
    #classes .semester .title {
      font-family: "IBM Plex Serif";
      color: #f9686a;
      width: 150px; }
    #classes .semester ul {
      list-style-type: none; }

@media screen and (max-width: 805px) {
  #classes .semester {
    display: block; }
  #classes ul {
    -webkit-padding-start: 0;
    padding-left: 0; }
  #classes h2 {
    font-size: 3.2em; } }

#art p {
  max-width: 600px;
  margin-bottom: 2em; }

#art .piece {
  position: relative;
  margin: 0 auto 60px; }
  #art .piece .box {
    width: min-content;
    margin: auto; }
  #art .piece img {
    max-height: 80vh;
    max-width: 76vw; }
  #art .piece .title {
    padding-left: 20px;
    font-family: "IBM Plex Serif";
    font-size: 0.8em;
    color: #919191;
    margin: 0;
    padding: 0; }
