/* Main Styling Sheet */
/*
    stuff for a fade in
        http://jsfiddle.net/SO_AMK/VV2ek/
*/
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  color: #333;
  font-family: Roboto;
  font-weight: lighter; }

#body-wrap {
  padding: 10vh 20vw; }

#body-wrap .main {
  clear: both;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */ }

::selection {
  background: #FE9594; }

p {
  font-size: 1.1em;
  font-family: Roboto;
  font-weight: 300;
  margin-bottom: .7rem; }

a {
  color: #6BBBA9;
  outline: none;
  text-decoration: none; }

a:hover {
  color: #82D9C5;
  text-decoration: none; }

.hilight {
  color: #F5908F; }

.nav-link {
  color: #333; }

.nav-link:hover {
  color: #6BBBA9 !important; }

.navbar {
  position: fixed;
  width: 100vw;
  padding: 15px 20vw;
  background-color: rgba(255, 255, 255, 0.8); }

hgroup {
  text-align: center;
  margin-bottom: 25px;
  padding-top: 5vh; }

h1 {
  font-size: 3.5em;
  font-family: 'Questrial';
  letter-spacing: 3pt;
  margin-bottom: 15px; }

h2 {
  font-size: 1.5em;
  font-family: Roboto;
  font-weight: lighter; }

h3 {
  font-size: 1.2em;
  font-family: Arvo; }

.gallery-image {
  max-width: 250px;
  margin: 10px;
  height: 250px;
  background-size: cover !important; }

.gallery-image:hover {
  opacity: 0.7; }

.project-images {
  max-width: 100%;
  overflow: hidden; }

.project-image {
  height: 200px;
  margin: 10px 10px 10px 0; }
